<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
<h1>Doge Registration</h1>
<form action="" method="post" name="register">
  {{ form.hidden_tag() }}
  <p>
    Username:<br>
    {{ form.name(size=80) }}<br>
    {% for error in form.name.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>

    Email Address:<br>
    {{ form.email(size=80) }}<br>
    {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>

    Surveyor or Student:<br>
    {{ form.isStudent }}<br>
    {% for error in form.isStudent.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>

    Password:<br>
    {{ form.password(size=80) }}<br>
    {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>

    Password:<br>
    {{ form.confirm(size=80) }}<br>
    {% for error in form.confirm.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>
  </p>
  <p><input type="submit" value="Register"></p>
</form>

{% endblock %}